<nav class="btn-group">
    <a href="#/search" class="btn btn-default">Поиск</a>
    <a href="#/create" class="btn btn-default active">Создание</a>
    <a href="#/list" class="btn btn-default">Список</a>
</nav>
<section ng-controller="CreateController as point">
    <h3 class="page-header"> Выберите любую точку на карте! </h3>
    <form name="createPoint"  ng-submit="point.createPoint(point)" class="col-md-12 form-horizontal">
        <div ng-show ="point.create" class="alert alert-success" >
            Точка созданна успешно!
        </div>
        <div ng-show ="point.name.length > point.maxLength" class="alert alert-danger" >
            Слишко много символов!
            <b> Лишних {{point.name.length - point.maxLength}}</b>
        </div>
        <div ng-hide ="point.X && point.Y && point.address" class="alert alert-info" >
            Кликните по карте для определения координат и адреса
        </div>
        <div class="row">
            <label for="pointName" class="col-md-3 col-sm-6 control-label">Название места на карте*</label>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="pointName" placeholder="Название"  ng-model="point.name" ng-focus="point.create = false" required>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="hidden" ng-model="point.address" required>
            <input type="hidden" ng-model="point.X" required>
            <input type="hidden" ng-model="point.Y" required>
            <div id="map_canvas">
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Сохранить" ng-disabled="!createPoint.$valid">
                </div>
            </div>
        </div>
    </form>
</section>