<section ng-controller="CreateController as point" >
    <h3 class="page-header"> Создание новой точки на карте </h3>
    <form name="createPoint"  ng-submit="point.createPoint(point)" class="row">
        <div ng-show ="point.create" class="alert alert-success" >
            Точка созданна успешно!
        </div>

        <div class="form-group col-sm-12">
            <label for="pointName" class="col-sm-2 control-label">Название места на карте</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="pointName" placeholder="Название" ng-model="point.name"  ng-focus="point.create = false" required>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label for="pointAddress" class="col-sm-2 control-label">Адрес точки на карте</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="pointAddress" placeholder="Адрес" ng-model="point.address" required>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label for="pointX" class="col-sm-2 control-label">Координата Х</label>
            <div class="col-sm-6">
                <input type="number" step="any" class="form-control" id="pointX" placeholder="Координата Х" ng-model="point.X" required>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label for="pointY" class="col-sm-2 control-label">Координата Х</label>
            <div class="col-sm-6">
                <input type="number" step="any" class="form-control" id="pointY" placeholder="Координата У" ng-model="point.Y" required>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-danger" value="Сохранить" ng-disabled="!createPoint.$valid">
            </div>
        </div>
    </form>
</section>