<nav class="btn-group">
    <a href="#/search" class="btn btn-default">Поиск</a>
    <a href="#/create" class="btn btn-default">Создание</a>
    <a href="#/list" class="btn btn-default active">Список</a>
</nav>
<section ng-controller="ListController as list">
    <h3 class="page-header"> Список всех точек на карте</h3>
    <div class="pointList col-sm-8 col-xs-12">
        <div class="pointList_wrap">
            <ul class="pointList_row">
                <li ng-repeat="data in list.content">
                    <a href="#/map/{{data}}">
                        <p class="pointName">Название точки: {{data.name}}</p>
                        <p class="pointAddress"> Адрес точки на карте: {{data.address}}</p>
                    </a>
                </li>
                <li ng-hide="{{list.content.length}}" class="alert alert-danger">
                    <b>Пока нет ни одной точки!</b>&nbsp;Для создания кликните
                    <a href="#/create" >
                         сюда!
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>