<section ng-controller="ListController as list">
    <h3 class="page-header"> Список всех точек на карте</h3>
    <div class="pointList col-sm-8 col-xs-12">
        <div class="pointList_wrap">
            <ul class="pointList_row">
                <li ng-repeat="data in list.content">
                    <a href="#/map/{{data}}">
                        <p class="pointName">Название точки на карте: {{data.name}}</p>
                        <p class="pointAddress"> Адрес места на карте {{data.address}}</p>
                    </a>
                </li>
                <li ng-hide="{{list.content}}" class="alert alert-danger">
                    <a href="#/create" >
                        <b>Пока нет ни одной точки!</b>&nbsp;Для создания кликните сюда!
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>